/* Navigation.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 1rem;
}

.link {
  text-decoration: none;
  color: white;
  margin: 0 1rem;
  font-size: 1.6rem;
}

.link:hover {
  text-decoration: underline;
}

.activeLink {
  font-size: 1.6rem;
  /* Стили для активной ссылки */
  font-weight: bold; /* Жирный текст */
  color: rgb(90, 86, 119); /* Желтый цвет для активной ссылки */
  /* Дополнительные стили по вашему выбору */
}
