/* PostSearch.module.css */

/* Стили для контейнера компонента */
.container input[type="search"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
}
  
  /* Стили для текстового поля ввода */
  input[type="search"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
 
  }
  
  /* Стили для кнопки поиска */
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Стили для кнопки поиска при наведении */
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  