/* Posts.module.css */

/* Стили для списка постов */
ul {
    list-style: none;
    padding: 0;
  }
  
  /* Стили для отдельного элемента списка */
  li {
    margin-bottom: 10px;
  }
  
  /* Стили для ссылки на пост */
  a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 16px;
  }
  
  /* Стили для ссылки на пост при наведении */
  a:hover {
    text-decoration: underline;
  }
  