/* TheHeader.module.css */

.header {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 1rem;
}

.logo {
  margin-left: 1rem; /* Расстояние между логотипом и навигацией */
}
