.heading {
    font-size: 2rem; /* Устанавливаем размер заголовка */
    color: #333; /* Устанавливаем цвет текста заголовка */
    margin-bottom: 1rem; /* Добавляем нижний отступ для заголовка */
  }
  
  .body {
    font-size: 1.2rem; /* Устанавливаем размер текста */
    color: #666; /* Устанавливаем цвет текста */
  }